<app-navbar></app-navbar>
<div class="container">
  <div class="header">
    <h1 class="titulo">Práctica 8</h1>
  </div>
  <div class="description">
    <h2 class="titulo2">Práctica Angular</h2>
    <p class="descripciones">
      Haciendo uso de la Api generada en la práctica anterior, utilizar una de las entidades y generar un ABM básico (Insert, Update, Delete, Get).

      Criterios de Aceptación:
      * Formulario Reactivo.
      * Validaciones.
      * Témplate en algún framework (Bootstrap, Material, etc).
      * Estructura del proyecto.
      * Manejo de errores.
    </p>
    
  </div>
  <div class="section-item">
    <h2 class="titulo2">GitHub y Agradecimientos</h2>
    <div class="section-item">
      <h2 class="titulo2">GitHub</h2>
      <p class="descripciones">
        Rama del Repositorio de GitHub:
        <br>
        <a href="https://github.com/FranBertarelli/LabNet2023" target="_blank">https://github.com/FranBertarelli/LabNet2023</a>
      </p>
    </div>
    <div class="section-item">
      <h2>Agradecimientos</h2>
      <p>
        Muchísimas gracias a ustedes por dictar este Lab. La verdad me llego a dar un poco de tristeza cuando terminamos hoy.
        <br>
        Gracias a mis compañeras y mis compañeros por darme mil manos en discord y pasarme muchas veces codigos con soluciones.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>